<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" routerLink="home">First Angular App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink="contact">Contact</a>
        </li>
        <li>
          <a class="nav-link js-scroll-trigger" routerLink="users">Users</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header class="bg-primary text-white">
  <div class="container text-center">
    <h1>Welcome to Angular Page</h1>
    <p class="lead">A landing page  freshly redesigned by Avinash</p>
  </div>
</header>
