<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact us</h2>
        <p class="lead">
          We are using Technology and Data to solve some of the most Challenging Problems that the World is facing today.
          Our Tools help Governments, Companies and People to be more Effective.
        </p>
      </div>

      <div class="container">
        <form (ngSubmit)="processForm()">
          <div class="form-group">
            <label for="name">Your Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" [(ngModel)]="name" required minlength="3"
                   #nameInput="ngModel">
            <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
              Name is required and needs to be at least 3 characters long.
            </div>
          </div>
          <div class="form-group">
            <label for="email">Your Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="email" required
                   #emailInput="ngModel">
            <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">
              Needs to be a valid email.
            </div>
          </div>
          <div class="form-group">
            <label for="email">Your Message:</label>
            <textarea class="form-control" id="email" placeholder="What's on your mind?" name="message" [(ngModel)]="message" required
                      #messageInput="ngModel"></textarea>
            <div class="help is-error" *ngIf="messageInput.invalid && messageInput.dirty">
              Your message is required!
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
